.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    justify-content: center;
}

.square {
    border: 1px solid black;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}